<h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s"
  style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">NGCOREAPP</h1>
<p>The NgCoreApp is a Small Application to learn how to CRUD (Create, Read, Update, Delete) Operation performed
  Using Asp.Net Core Web Api With Angular.</p>
<ul style="font-weight: 400;">
  <li>
    <span style="color: #000000;">Technologies Used (Back-End)</span>
    <ul>
      <li><span style="color: #000000;">Clean Architecture</span></li>
      <li><span style="color: #000000;">ASP.NET Core Web API</span></li>
      <li><span style="color: #000000;">ASP.NET Core 8</span></li>
      <li><span style="color: #000000;">Entity Framework Core 8</span></li>
      <li><span style="color: #000000;">MediatR</span></li>
      <li><span style="color: #000000;">CQRS</span></li>
      <li><span style="color: #000000;">FluentValidation</span></li>
      <li><span style="color: #000000;">Repository Pattern, Factory Pattern, Unit Of Work Pattern, Dependency
          Injection</span></li>
      <li><span style="color: #000000;">SQLite Database</span></li>
    </ul>
  </li>
</ul>
<ul style="font-weight: 400;">
  <li>
    <span style="color: #000000;">Technologies Used (Front-End)</span>
    <ul>
      <li><span style="color: #000000;">Angular 12</span></li>
      <li><span style="color: #000000;">Bootstrap 5.3.2</span></li>
      <li><span style="color: #000000;">DatePipe For Formatted-Date Purpose</span></li>
    </ul>
  </li>
</ul>
<ul style="font-weight: 400;">
  <li>
    <span style="color: #000000;">Key Points to Consider:</span>
    <ul>
      <li><span style="color: #000000;">These projects have been designed with a focus on clean code
          principles.</span></li>
    </ul>
  </li>
</ul>